@mixin text-lg-44 {
    font-size: 2.75rem;
    line-height: 3rem;
}

@mixin text-lg-40 {
    font-size: 2.5rem;
    line-height: 2.75rem;
}

@mixin text-lg-36 {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

@mixin text-lg-32 {
    font-size: 2rem;
    line-height: 2.5rem;
}

@mixin text-md-22 {
    font-size: 1.375rem;
    line-height: 1.625rem;
}

@mixin text-sm-18 {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

@mixin text-sm-16 {
    font-size: 1rem;
    line-height: 1.5rem;
}

@mixin text-sm-14 {
    font-size: 0.875rem;
    line-height: 1rem;
}
