.bienvenida {
    background: var(--color-primario-1);
    section {
        height: max(768px, 100vh);
        display: grid;
        place-content: center;
        place-items: center;
        color: var(--color-blanco-1);

        img {
            width: 230px;
            margin-bottom: 54px;
        }

        h1,
        h2 {
            @include text-lg-36;
            text-transform: uppercase;
            text-align: center;

            span {
                color: var(--color-secundario-1);
            }
        }

        a {
            @include text-lg-44;
            width: 100px;
            height: 100px;
            display: grid;
            place-content: center;
            text-decoration: none;

            &#si {
                background: url(../img/back-button.png) no-repeat center /
                    contain;
                color: var(--color-primario-2);
            }
        }

        .checkbox {
            display: flex;
            align-items: center;
            column-gap: 8px;
        }
        input {
            width: 32px;
            height: 32px;
        }

        label {
            @include text-sm-16;
            cursor: pointer;
        }
    }

    &--opciones {
        display: flex;
        align-items: center;
        column-gap: 40px;
        margin: 48px auto 84px;
    }

    #no-validacion {
        display: none;
    }
}

.legales {
    text-align: center;
    padding: 64px 0;
    text-transform: uppercase;
    color: var(--color-primario-1);

    h1 {
        @include text-lg-36;
        margin-bottom: 40px;
    }

    h4 {
        @include text-md-22;
        margin-bottom: 20px;
    }

    p {
        @include text-sm-18;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .bienvenida {
        section {
            height: max(640px, 100vh);
        }
    }
}
