:root {
    --color-primario-1: #222165;
    --color-primario-2: #0c1a53;
    --color-secundario-1: #fef200;
    --color-blanco-1: #ffffff;

    --font-primaria-regular: "Bebas Neue", sans-serif;
    --font-primaria-bold: "Bebas Neue Bold", sans-serif;
    --font-secundaria-regular: "Gotham Black", sans-serif;

    --height-section: min(850px, 100vh);
}
