$grid-breakpoints: (
    xs: 0,
    lg: 768px,
    xl: 1280px,
    xxl: 1440px,
);

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/_variables-dark.scss";
@import "~bootstrap/scss/maps";

@import "~bootstrap/scss/mixins";
@mixin row-cols($count) {
    > * {
        flex: 0 0 auto;
        width: divide(100, $count);
    }
}

@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/accordion";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/utilities/api";
@import "~bootstrap/scss/_navbar.scss";

@import "core/fonts";
@import "core/vars";
@import "core/mixins";
@import "layout/body";
